@font-face{
	font-family:Attitude-regular;
	src:url(../fonts/Attitude%20Full%20Family/Attitude-Regular.otf);
}
@font-face{
	font-family:building;
	src:url(../fonts/Building-Typeface/Building-Typeface/Building_Typeface.ttf);
}
.navbar{ position:fixed;
		background-color:#0F0E0E;
		overflow: hidden;
		top:0;
		width: 100%;
		height: 50px;
		margin-left:none;
		padding-bottom: 20px;
}

.navbar a{
	float:left;
	display:block;
	text-align: center;
	padding:10px;
	text-decoration:none;
	background:#DCD0D0;
	border-style:solid;
	border-color:#0F0E0E; 
}
.navbar ul{
	list-style-type:none;
}
.navbar a:hover{
	background:#CD0A0D;
	color: black;
}

.nfont{color:black;
font-family:building;
font-weight:900;
font-size:20px;
}

.logo{
	width:40px;
	height:40px;
	margin-left:275px;
}

body{
	background-color:#0F0E0E;
}
.month
{
	color:#18A3F0;
	font-family:building;
	font-size:20px;
}
.events
{
	margin-top:100px;
}
.date{
	color:#18A3F0;
	text-align:center;
	font-size:50px;
	font-family:building;
}
table{padding-left:20px;
padding-right:20px;
border-spacing:50px 20px;;
}
.time{
	color:#B1ABAB;
	font-family:building;
	font-size:25px;
}
.dest{
	color:#B1ABAB;
	font-family:building;
	font-size:25px;
	font-weight:bold;
}
.sc{
	color:#B1ABAB;
	font-family:building;
	font-size: 25px;
}
.flink{
	cell-padding:20px;
	float:right;
	color:#FFFFFF;
	border-style:none;
	font-family:building;
	font-size:40px;

}
.flink :hover{
	background-color:none;
	border-style:none;
	color:#928383;
	text-align:center;
	font-family:building;
	text-decoration:none;
}
.ehead{
	font-family:Attitude-regular;
	font-size:60px;
	color:#F7F0F0;
}
